
<ion-header>
  <ion-toolbar>
    <ion-title id="CompanyTitle" > CareerPlace </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-card>
    <ion-card-content class="TestCard" (click)="presentAlert()">
      <div class="ion-padding">
        Hello World
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="InputCard">
      <ion-input placeholder="Say Hello Back!"> </ion-input>
    </ion-card-content>
  </ion-card>

</ion-content>
